<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
</head>
<body>

<form method="post" action="/addProduct">
    <input type="text" name="name" placeholder="Produkt Navn">
    <input type="text" name="price" placeholder="Produkt pris">
    <input type="text" name="stack" placeholder="Produkt mængde">
    <textarea rows="4" name="description" cols="50" placeholder="Produkt beskrivelse"></textarea>
    <input type="submit" value="Tilføj vare">
</form>

</body>
</html>